[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
python-dotenv = "*"
requests = "*"
aiohttp = "*"
websocket-client = "*"
flashbots = "*"

[dev-packages]

[requires]
python_version = "3.13"
